.container {
  height: 100%;
  text-align: center;
  padding: 20px;
}

.title {
  margin-bottom: 40px;
}

.row {
  display: flex;
  padding: 12px;
  align-items: center;
  background: #fff;
  margin-bottom: 20px;
  text-decoration: 
}
